@use './palette.scss';

/* Core */
@import 'normalize.css';
@import 'water.css/out/water.min.css';

:root {
    @media (prefers-color-scheme: light) {
        @include palette.light;
    }

    @media (prefers-color-scheme: dark) {
        @include palette.dark;
    }

    &[data-theme='light'] {
        @include palette.light;
    }

    &[data-theme='dark'] {
        @include palette.dark;
    }

    font-family: system-ui, sans-serif;

    & body {
        min-height: calc(100vh - 40px);
    }

    & ul {
        padding: 0;

        & li {
            list-style: none;
            font-weight: 500;
        }
    }

    & button {
        &:disabled:hover {
            background-color: var(--background);
        }
    }

    input {
        border: 1px solid transparent;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    button {
        margin-right: 10px;
    }
}
